<div class="container" style="margin-top: 2em;">
    <p><strong>¿Qué ingredientes son esenciales en la cocina cubana?<br></strong>
        Algunos ingredientes esenciales en la cocina cubana incluyen arroz, frijoles, plátanos, yuca, cerdo, pollo, pescado, tomate, cebolla, ajo, pimiento y especias como comino, orégano y cilantro.</p>
         
    <p><strong>¿Cuánto tiempo se tarda en preparar platos cubanos tradicionales?<br></strong>
        El tiempo de preparación varía según el plato, pero la mayoría de las recetas tradicionales cubanas requieren entre 30 minutos y 2 horas para cocinar.</p>
        
    <p><strong>¿Dónde puedo encontrar ingredientes cubanos si no vivo en Cuba?<br></strong>
        Muchos supermercados internacionales llevan ingredientes cubanos, como plátanos, yuca, especias y productos enlatados. También puedes buscar tiendas especializadas en comida latina o caribeña en tu área.</p>
        
    <p><strong>¿Se pueden hacer versiones vegetarianas de las recetas cubanas?<br></strong>
        Sí, muchas recetas cubanas pueden adaptarse para ser vegetarianas utilizando ingredientes como frijoles, plátanos verdes, yuca, vegetales y tofu como sustitutos de la carne.</p>
        
    <p><strong>¿Hay alguna regla de etiqueta o tradición que deba seguir al cocinar comida cubana?<br></strong>
        Si bien no hay reglas estrictas, es común compartir la comida en la mesa y disfrutar de una comida relajada y social con amigos y familiares. También es común servir platos con arroz y frijoles como acompañamiento.</p>
</div>