<div class="container" style="display: flex; flex-direction: column; min-height: 100vh;">
<h2 style="margin-top: 2px;"><strong>Preguntas frecuentes sobre superhéroes de Marvel:</strong></h2><br>

    <h3><strong>¿Qué es Marvel?</strong></h3>
<p>Marvel es una reconocida editorial de cómics que ha creado algunos de los superhéroes más icónicos del mundo. Fundada en 1939, Marvel ha dado vida a personajes como Spider-Man, Iron Man, Capitán América, Hulk, Thor, los X-Men y los Vengadores, entre muchos otros.
</p><br>
<h3><strong>¿Quiénes son los superhéroes principales de Marvel?</strong></h3>
<p>Los superhéroes más populares de Marvel incluyen a:</p>
<p class="container"><strong>Spider-Man: </strong>También conocido como Peter Parker, adquirió habilidades arácnidas después de ser picado por una araña radioactiva. Es conocido por su ingenio y agilidad sobrehumana.</p>
<p class="container"><strong>Iron Man: </strong>Tony Stark, un genio multimillonario, utiliza una armadura tecnológicamente avanzada para combatir el crimen como Iron Man.</p>
<p class="container"><strong>Capitán América: </strong>Steve Rogers, un símbolo de valentía y patriotismo, es conocido por su escudo indestructible y su liderazgo en los Vengadores.</p>
<p class="container"><strong>Hulk: </strong>El Dr. Bruce Banner se transforma en Hulk, una criatura con una fuerza increíble, cuando experimenta emociones intensas.</p>
<p class="container"><strong>Thor: </strong>El dios del trueno, posee una fuerza sobrehumana y control sobre el clima, además de empuñar el martillo mágico Mjolnir.</p>
<p>Estos superhéroes son solo algunos de los muchos que forman el rico universo de Marvel. Si deseas conocer más sobre los personajes de Marvel, ¡no dudes en explorar nuestro sitio!</p>

</div>

